@{
    ViewData["Title"] = "Home Page";
}

<!--Aqui con el action link lo que estoy diciendo es, 
    1)El link tendra escrito saludo 
    2)irá a la vista saludo
    3)??
-->

    <h1 class="display-4">Ejercicio1</h1>
   @Html.ActionLink("Saludo", "Saludo", new {nombre = "Javi"})

