

@using (Html.BeginForm(FormMethod.Post))
{
    <h1>Ejercicio 2</h1>
    <h2>Prueba</h2>
    <label Nombre:></label>
    <input name="iname" type="text" />
    <br>
    <button type="submit" value="Submit">Guardar</button>
}

